* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cores do site
  211951
  836FFF
  15F5BA
  F0F3FF*/

html {
  font-family: poppins, sans-serif;
  font-size: 62.5%;

  background-color: #211951;

  box-sizing: border-box;
  text-align: center;
  justify-content: center;
}

/* Menu */
header {
  position: fixed;
  z-index: 2;

  width: 190rem;
  height: 7rem;

  background-color: #836fff;
  color: #f0f3ff;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100rem;
}

.logo {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}

.menu-lista,
.menu-lista ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5rem;
}

.menu-item,
.menu-item a {
  font-size: 14px;
  font-weight: 600;

  text-decoration: none;
  text-transform: uppercase;
}

/* Seção Home */
main {
  position: relative;
  top: 7rem;
  z-index: 1;
}

.home {
  padding: 7rem 0;
  color: #000;

  background-image: url("/assets/9129518.jpg");
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.container-home {
  width: 150rem;
  padding: 30px;

  background-color: #15f5ba;

  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  border-radius: 50px;

  box-shadow: 10px 0px 20px #000000, -10px -0px 20px #000000,
    0px 10px 20px #000000, 0px -10px 20px #000000;
}

.container-home img {
  width: 70rem;
  height: 70rem;

  border: 7px solid #000000;
  border-radius: 50%;
}

.container-home h1 {
  font-size: 5rem;
  font-weight: 900;

  color: #211951;
}

.container-home p {
  font-size: 2rem;
  font-weight: 400;
  text-indent: 20px;

  color: #211951;
}

.container-home a {
  width: 200px;
  margin-top: 20px;
  padding: 15px 30px;

  background-color: #211951;
  color: #f0f3ff;

  display: inline-block;

  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;

  border: solid 5px #000000;
  border-radius: 30px;

  transition: 0.3s;
}

.container-home a:hover {
  background-color: #836fff;
  color: #f0f3ff;
  background-image: linear-gradient(45deg, #836fff, #15f5ba);
}

/* Rodapé */
footer {
  position: relative;
  top: 7rem;
  z-index: 2;

  font-size: 13px;

  width: 190rem;
  height: 7rem;

  background-color: #836fff;
  color: #f0f3ff;

  display: flex;
  align-items: center;
  justify-content: center;
}
